<!DOCTYPE html>
{# by Kl1nge5 #}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>在线Markdown</title>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
  <script src="../static/lib/jquery-3.6.0.js"></script>
  <style>
      .submitDiv:hover {
          background: black;
          color: white;
      }

      .submitDiv {
          display: inline-flex;
          width: auto;
          border: black solid;
          transition: 50ms;
          user-select: none;
          cursor: pointer;
          border-radius: 5px;
          align-content: center;
          justify-content: center;
          align-items: center;
      }
  </style>
</head>
<body>

<div class="WriteAreaDiv">
  <textarea rows="10" cols="30" class="WriteArea" onchange="generator()">{{ markdowntext }}</textarea>
</div>
<div class="submitDiv" onclick="submitChange()">&nbsp;提交&nbsp;</div>
<div class="MarkdownArea"></div>

<script>
    let converter = new showdown.Converter(); // 先创建好一个生成器，以后要一直用

    // 生成markdown
    function generator() {
        let text = document.getElementsByClassName("WriteArea")[0].value; // 获取输入区的文本
        document.getElementsByClassName("MarkdownArea")[0].innerHTML = converter.makeHtml(text);  // 交给生成器处理再赋值
    }

    // 提交更改
    function submitChange() {
        console.log("提交更改");
        let GetVerification = prompt("请输入验证码:");
        let url = '{{ url_for("upload") }}';
        let request = new XMLHttpRequest();
        let form = new FormData();
        form.append("text", document.getElementsByClassName("WriteArea")[0].value);
        form.append("verification", GetVerification);
        request.open("post", url);
        request.send(form);
    }

    // 页面加载完先生成一遍markdown
    $(function () {
        generator();
    })
</script>

</body>
</html>