<!DOCTYPE html>
{# by Kl1nge5 #}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>在线Markdown</title>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
{#  <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">#}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}">
  <style>
      .ButtonDiv:hover {
          background: black;
          color: white;
      }

      .ButtonDiv {
          display: inline-flex;
          width: 50px;
          height: 25px;
          border: black solid 1px;
          transition: 50ms;
          user-select: none;
          cursor: pointer;
          border-radius: 5px;
          justify-content: center;
          align-items: center;
      }
  </style>
</head>
<body style="margin: 0 20%">

<div class="WriteAreaDiv">
  <label>
    <textarea rows="10" cols="30" class="WriteArea" onchange="generator()" style="width: 100%;resize: vertical;">{{ markdowntext }}</textarea>
  </label>
</div>
<div>
  <div class="ButtonDiv" onclick="submitChange()">&nbsp;提交&nbsp;</div>
  <div class="ButtonDiv" onclick="copy()" style="float: right;">&nbsp;复制&nbsp;</div>
</div>
<div class="MarkdownArea"></div>

<script src="{{ url_for('static', filename='lib/jquery-3.6.0.js') }}"></script>
<script>
    let converter = new showdown.Converter(); // 先创建好一个生成器，以后要一直用

    // 生成markdown
    function generator() {
        let text = document.getElementsByClassName("WriteArea")[0].value; // 获取输入区的文本
        document.getElementsByClassName("MarkdownArea")[0].innerHTML = converter.makeHtml(text);  // 交给生成器处理再赋值
    }

    // 提交更改
    function submitChange() {
        console.log("提交更改");
        let GetVerification = prompt("请输入验证码:");
        let url = '{{ url_for("upload") }}';
        let request = new XMLHttpRequest();
        let form = new FormData();
        form.append("text", document.getElementsByClassName("WriteArea")[0].value);
        form.append("verification", GetVerification);
        request.open("post", url);
        request.send(form);
    }

    // 复制markdown文本
    function copy() {
        let text = $('textarea');
        text.select();
        document.execCommand('copy');
        getSelection().removeAllRanges();
        text.blur();
        alert('复制成功')
    }

    // 页面加载完毕后执行
    $(function () {
        // 先生成一遍markdown
        generator();

        // 给所有独立代码（不在代码块中）加上样式
        for (const converterElement of $('code')) {
            if (converterElement.attributes.length === 0) {
                $(converterElement).css({'background': '#f1f1f1',
                    'border': '#d9d9d9 solid 1px',
                    'border-radius':  '4px'});
            }
        }
    })


</script>

</body>
</html>